@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: "#432FBB"
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main) !important;
}
::-webkit-scrollbar-track {
    background-color: black !important;
}
